attendance-tracker.js.txt
{
  "name": "BTL Attendance Group",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1pIgO8qYmhqe7_DrwcuAbzfuBVVgHkXWD3gvdxrcnHjc",
          "mode": "list",
          "cachedResultName": "Attendance Sheet BTL Cumilla",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pIgO8qYmhqe7_DrwcuAbzfuBVVgHkXWD3gvdxrcnHjc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 337062688,
          "mode": "list",
          "cachedResultName": "July 2026",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pIgO8qYmhqe7_DrwcuAbzfuBVVgHkXWD3gvdxrcnHjc/edit#gid=337062688"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        96,
        0
      ],
      "id": "755fc2b9-1740-4ab0-a516-048106d8bd68",
      "name": "btlcumilla@gmail.com",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VyXfk8kBK6tEdD42",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// === নিজের মতো বদলে নিন ===\nconst EMPLOYEES = [\n  { name: \"ইব্রাহিম\",   statusCol: 1 },\n  { name: \"নাবিল\",      statusCol: 3 },\n  { name: \"জসিম\",       statusCol: 5 },\n  { name: \"তায়েব\",      statusCol: 7 },\n  { name: \"পাবেল\",      statusCol: 9 },\n  { name: \"ইমান আলী\",  statusCol: 11 },\n  { name: \"সাজ্জাদ\",    statusCol: 13 },\n  { name: \"পারভেজ\",    statusCol: 15 },\n  { name: \"সবুজ\",      statusCol: 17 },\n  { name: \"সজিব\",      statusCol: 19 },\n  { name: \"নাহিন\",     statusCol: 21 },\n  { name: \"সাব্বির\",    statusCol: 23 },\n  { name: \"ইমন\",       statusCol: 25 },\n  { name: \"বায়জিদ\",    statusCol: 27 },\n];\n\n// === নিচের অংশ সাধারণত বদলানো লাগবে না ===\nconst items = $input.all();\n\nfunction serialToDate(serial) {\n  const utcDays = Math.floor(serial - 25569);\n  return new Date(utcDays * 86400 * 1000);\n}\n\nfunction parseFlexibleDate(cell) {\n  if (cell === undefined || cell === \"\" || cell === null) return null;\n  const num = Number(cell);\n  if (!isNaN(num) && num > 40000) return serialToDate(num);\n  const cleaned = String(cell).replace(/[^\\w\\s\\-\\/\\,]/g, '').trim();\n  const parsed = new Date(cleaned);\n  return !isNaN(parsed.getTime()) ? parsed : null;\n}\n\nfunction toBanglaDigits(str) {\n  const map = { 0:\"০\",1:\"১\",2:\"২\",3:\"৩\",4:\"৪\",5:\"৫\",6:\"৬\",7:\"৭\",8:\"৮\",9:\"৯\" };\n  return String(str).split(\"\").map((ch) => (map[ch] !== undefined ? map[ch] : ch)).join(\"\");\n}\n\nconst BN_MONTHS = [\n  \"জানুয়ারি\",\"ফেব্রুয়ারি\",\"মার্চ\",\"এপ্রিল\",\"মে\",\"জুন\",\n  \"জুলাই\",\"আগস্ট\",\"সেপ্টেম্বর\",\"অক্টোবর\",\"নভেম্বর\",\"ডিসেম্বর\",\n];\n\nfunction formatBanglaDate(date) {\n  const day = toBanglaDigits(String(date.getUTCDate()).padStart(2, \"0\"));\n  const month = BN_MONTHS[date.getUTCMonth()];\n  const year = toBanglaDigits(date.getUTCFullYear());\n  return `${day} ${month}, ${year}`;\n}\n\nfunction symbolToLabel(val) {\n  if (val === undefined || val === \"\" || val === null) return null;\n  const norm = String(val).replace(/\\uFE0F/g, \"\").trim();\n  const hasCheck = norm.includes(\"✅\");\n  const hasCircle = norm.includes(\"⭕\");\n  const hasCross = norm.includes(\"❌\");\n  if (hasCheck && hasCircle) return \"Granted (Leave) ✅⭕\";\n  if (hasCircle && hasCross) return \"Half day ⭕❌\";\n  if (hasCheck) return \"Present ✅\";\n  if (hasCircle) return \"Day Off ⭕\";\n  if (hasCross) return \"Absent ❌\";\n  return `অজানা চিহ্ন (${val})`;\n}\n\nfunction isRowComplete(values) {\n  return EMPLOYEES.every(emp => symbolToLabel(values[emp.statusCol]) !== null);\n}\n\nfunction buildEmployeeLines(values) {\n  return EMPLOYEES.map((emp, idx) => {\n    const label = symbolToLabel(values[emp.statusCol]);\n    const num = toBanglaDigits(idx + 1);\n    return label === null\n      ? `${num}. ${emp.name} — ⚠️ Missing (দেওয়া হয়নি)`\n      : `${num}. ${emp.name} — ${label}`;\n  });\n}\n\nfunction isoKey(date) {\n  return date.toISOString().split('T')[0];\n}\n\n// আজকের তারিখ (Asia/Dhaka)\nconst nowDhaka = new Date(new Date().toLocaleString(\"en-US\", { timeZone: \"Asia/Dhaka\" }));\nnowDhaka.setUTCHours(0, 0, 0, 0);\nconst todayKey = isoKey(nowDhaka);\n\n// শিটের সব রো তারিখ অনুযায়ী ম্যাপ করা\nconst dateRowMap = {};\nfor (const item of items) {\n  const dataObj = item.json;\n  if (!dataObj) continue;\n  const keys = Object.keys(dataObj);\n  if (keys.length === 0) continue;\n  let dateCell = dataObj[keys[0]];\n  if (keys[0] === 'row_number' && keys.length > 1) dateCell = dataObj[keys[1]];\n  const rowDate = parseFlexibleDate(dateCell);\n  if (!rowDate) continue;\n  rowDate.setUTCHours(0, 0, 0, 0);\n  const values = keys.filter(k => k !== 'row_number').map(k => dataObj[k]);\n  dateRowMap[isoKey(rowDate)] = values;\n}\n\n// পার্সিস্টেন্ট মেমোরি — যেসব পুরোনো তারিখ এখনো \"রেজল্ভড\" হয়নি\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.pendingDates) staticData.pendingDates = {};\n\nlet message = \"\";\nconst resolvedBlocks = [];\n\n// ধাপ ১: আগের পেন্ডিং তারিখগুলো — এখন পূরণ হয়ে গেছে কিনা চেক করো\nfor (const key of Object.keys(staticData.pendingDates)) {\n  const values = dateRowMap[key];\n  if (values && isRowComplete(values)) {\n    const dateStr = formatBanglaDate(new Date(key + 'T00:00:00Z'));\n    resolvedBlocks.push({ dateStr, lines: buildEmployeeLines(values) });\n    delete staticData.pendingDates[key];\n  }\n}\n\n// ধাপ ২: আজকের রিপোর্ট\nconst todayValues = dateRowMap[todayKey];\n\nif (!todayValues) {\n  message += `⚠️ **অ্যাটেনডেন্স অ্যালার্ট!**\\n📅 তারিখ: ${formatBanglaDate(nowDhaka)}\\n\\n` +\n             `আজকের তারিখের row শিটে খুঁজে পাওয়া যায়নি। অনুগ্রহ করে গুগল শিট চেক করুন।\\n\\n`;\n  staticData.pendingDates[todayKey] = true;\n} else {\n  const lines = buildEmployeeLines(todayValues);\n  message += `📋 **আজকের অ্যাটেনডেন্স রিপোর্ট**\\n📅 তারিখ: ${formatBanglaDate(nowDhaka)}\\n\\n` + lines.join(\"\\n\");\n\n  if (isRowComplete(todayValues)) {\n    message += `\\n\\n✅ আজকে সবার অ্যাটেন্ডেন্স সঠিকভাবে দেওয়া হয়েছে।`;\n  } else {\n    const missingNames = EMPLOYEES.filter(emp => symbolToLabel(todayValues[emp.statusCol]) === null).map(e => e.name);\n    const missingList = missingNames.map((name, idx) => `${toBanglaDigits(idx + 1)}. ${name}`).join(\"\\n\");\n    message += `\\n\\n⚠️ **নিচের কর্মচারীদের আজকের অ্যাটেন্ডেন্স এখনো শিটে তোলা হয়নি:**\\n${missingList}`;\n    staticData.pendingDates[todayKey] = true;\n  }\n}\n\n// ধাপ ৩: নতুন রেজল্ভড লেট এন্ট্রি (একবারই দেখাবে, তারপর আর কখনো না)\nif (resolvedBlocks.length > 0) {\n  message += `\\n\\n==============================\\n`;\n  message += `⏰ 🚨 **লেট এন্ট্রি রেজল্ভড! (আগের পেন্ডিং ডেটা এখন পূরণ হয়েছে)**\\n`;\n  resolvedBlocks.forEach(block => {\n    message += `\\n📅 **তারিখ: ${block.dateStr}**\\n`;\n    message += block.lines.join(\"\\n\") + `\\n`;\n  });\n}\n\n// ধাপ ৪: এখনো পেন্ডিং থাকা তারিখের সংক্ষিপ্ত রিমাইন্ডার\nconst pendingKeys = Object.keys(staticData.pendingDates).sort();\nif (pendingKeys.length > 0) {\n  const pendingStrs = pendingKeys.map(k => formatBanglaDate(new Date(k + 'T00:00:00Z')));\n  message += `\\n\\n==============================\\n`;\n  message += `⏳ **এখনো তোলা হয়নি এমন তারিখ:**\\n`;\n  message += pendingStrs.join(', ') + ` — এই তারিখগুলোর অ্যাটেন্ডেন্স এখনো সম্পূর্ণ শিটে তোলা হয়নি।\\n`;\n}\n\nreturn [{ json: { type: \"manager\", message } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        0
      ],
      "id": "7a1e8d74-e17b-48e8-8cd1-eae28097b49d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -128,
        0
      ],
      "id": "b2068b99-688d-45de-ac16-479ea3e6f5ba",
      "name": "Daily 11 PM",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "chatId": "-5418330560",
        "text": "={{ $json.message }} .",
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        528,
        0
      ],
      "id": "314dd512-2ac4-41cd-aabb-a8f4d4c5dd23",
      "name": "BTL Attendance Group",
      "webhookId": "15f680e6-2ddd-456f-ad89-f36378ab2c01",
      "credentials": {
        "telegramApi": {
          "id": "NvICtymhEzKsHpIf",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "btlcumilla@gmail.com": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "BTL Attendance Group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily 11 PM": {
      "main": [
        [
          {
            "node": "btlcumilla@gmail.com",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "23790f9e-3d66-41c2-a2a4-4e54b80160cb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9eedb635f5ed54ca5c4b01e2650605330e2fcb97b2ff81266997f54c53ac623e"
  },
  "nodeGroups": [],
  "id": "EdXHNV4i2fH41M9G",
  "tags": []
}
